<h1>New Tweet Form</h1>

<%= form_for(@tweet) do |f| %>
<%= f.label :content %>
<%= f.text_field :content %>

<br><br>

<%= f.label :user_id %>
<%= f.text_field :user_id %>

<br><br>

<%= f.submit %>
<% end %>